 #part_navbar{
   width:100%;
    display: flex;
    justify-content: space-between;
    position: absolute;
    top:60px;
    display: flex;
    justify-content: space-evenly;
}


/* 버튼 width,height 기본 설정 */
.btn{
    width:106px;
    height: 120px;
    border:2px solid #78a2b9;
    border-radius: 8px;
    display: 'flex';
    flex-direction: 'column';
    align-items: 'center';
    background-color: white;
}

#line1{
    width:80%;
    height:14%;
    position:absolute;
    top:132px;
    display: flex;
    justify-content: space-between;
    
}

#line2{
    position:absolute;
    top:268px;
    width:80%;
    height:14%;
   
    display: flex;
    justify-content: space-between;
}

#eye_btn,#nose_btn,#ear_btn,#head_detail_btn{
    margin-right: 6px;
}

#mouth_btn,#nose_btn,#head_detail_btn,#neck_btn{
    margin-left:6px;
}
 