#kind_order_img{
    padding-bottom: 10px;
}

#kind_line_1{
    position: absolute;
    top:132px;
    width:80%;
    height:30%;
    display:flex;
    justify-content: space-between;

}
.kind_btn{
    width:167px;
    height:180px;
    border:2px solid #78a2b9;
    border-radius: 8px;
    background-color: white;
}

#kind_line_2{
    width:80%;
    height:60%;
    position: absolute;
    top:332px;
    display:flex;
    justify-content: space-between;

}

#hurt1_btn,#hurt3_btn{
    margin-right:6px;
}

#hurt2_btn,#hurt4_btn{
    margin-left:6px;
}

.kind_btn:hover{
    background-color: #78a2b9;

}