#root{
  display:flex;
  justify-content: center;
  align-items: center;
}
.main {
  background-color: #ebebeb;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  /* 임의대로 수정 */
  padding: 1vh;     

  height: 100vh;
  width:55vh;
  position: relative;

  
}

#logo{
  width: 55%; /* 원하는 규격 너비 */
  height: 14%; /* 원하는 규격 높이 */
  display:flex;
  align-items: center;
  justify-content: center;
  position: absolute;
  top:40px;

  
}

#hospital_box {
  display: block;
  width: 85%; /* 원하는 비율로 설정 */
  height:27%;
  text-decoration: none;
  background-color: white;
  display:flex;
  align-items: center;
  justify-content: center;
  border:2px solid #78a2b9;
  border-radius: 8px;
  text-align: center;

}


#extra_box{
  display:flex;
  align-items: center;
  justify-content: center;
  width: 85%; /* 원하는 비율로 설정 */
  height:27%;

}

#pharmacy_box{
  width:70%;
  height: 85%;
  display: flex;
  justify-content: center;
  text-align: center;
  align-items: center;
  background-color: white;
  border:2px solid #78a2b9;
  border-radius: 8px;
  margin-right: 3%;
  text-decoration: none;

}

/* 전화박스 */
#call_box{
  width:70%;
  height: 85%;
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: white;
  margin-left: 3%;
 
  border:2px solid #78a2b9;
  border-radius: 8px;
  text-decoration: none;
  text-align: center;


}

#hospital_box:hover{
  background-color: #78a2b9;
}
#call_box:hover{
  background-color: #78a2b9;

}

#pharmacy_box:hover{
  background-color: #78a2b9;

}

#wrapper{
   display: flex;
  flex-direction: column;
  align-items: center;
}