.wholebody_btn{
    border: none;
    background-color: #ebebeb;
    
    
}

#left_arm,#right_arm{
  margin:0px;
  padding:0;

  @media (max-width: 380px) {
    /* 뷰포트 너비가 780px 이하일 때 적용될 스타일 */
   margin:0;
   padding:0;
  }
}

  