.wholebody_btn{
    border: none;
    background-color: #ebebeb;
    
    
}

#part1{
  position: absolute;
  top:140px;
}
#part2{
  position: absolute;
  top:210px;
}
#part3{
  position: absolute;
  top:373px;
}

#left_arm,#right_arm{
  margin:0px;
  padding:0;

 
}

#boxbox{
  position:absolute;
  top:580px;
  background-color: white;
  width:350px;

  display: flex;
  text-align: center;
  justify-content: center;
  border-radius: 8px;
  text-decoration: none; 

}

#extra_text{
  text-align: center;
}